<p style="color: green"><%= notice %></p>

<% content_for :title, "Expenses" %>

<nav>
  <%= link_to "Categories", categories_path %> | 
  <%= link_to "New Expense", new_expense_path %>
</nav>

<h1>Expenses</h1>

<div id="expenses">
  <% @expenses.each do |expense| %>
    <%= render expense %>
    <p>
      <%= link_to "Show this expense", expense %>
    </p>
  <% end %>
</div>


